<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
		<br>
			<!--<h2><b><font color="#3498db">Information Overload</font></b></h2>-->
		</div>
	</div><!-- /row -->

	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<img src="images/information.jpg" height="412" width="415" alt="">
      <br>
      <br>
		</div>
		<div class="col-lg-4">
			<h4><font color="#3498db">Information Overload</font></h4>
			<p align="justify">The Internet comprises of over 20 billion web pages! This wealth of information answers a lot of our questions on a diverse range of topics. e.g. What do students think of my university? Does this estate agent have a good reputation? Is the public satisfied with the current prime minister? Is the iPhone5S worth it? However the quantity of information available can be overwhelming.</p>
		</div><!--/col-lg-4 -->

		<div class="col-lg-4">
			<h4><font color="#3498db">Feasibility</font></h4>
			<p align="justify">Users tend to only use a fraction of the resources available on the Internet. This could be due to personal preference or recommendations from others, but it is primarily due to the impracticality of reading every source. As a result, users are bound to miss fragments of useful information that may offer a more accurate insight on the subject in question.</p>
		</div><!--/col-lg-4 -->
		
		<div class="col-lg-4">
			<h4><font color="#3498db">Quality</font></h4>
			<p align="justify">Another reason why users only use a subset of resources is due to the inconsistent quality. It can be frustrating for users when the resources they are directed to are polluted with irrelevant content, especially on blogs and forums. As a result, users may ignore the source altogether.</p>
		</div><!--/col-lg-4 -->
	</div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <hr>
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h3><b><font color="#3498db">SentimentSearch</font></b></h3>
		</div>
	</div><!-- /row -->
	
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<img src="images/software.jpg" height="415" width="415" alt="">
      <br>
      <br>
		</div>
		<div class="col-lg-4">
			<h4><font color="#3498db">Web Crawler</font></h4>
			<p align="justify">SentimentSearch crawls hundreds of sources for a given keyword. Apart from the typical 'go-to' websites, we pay special attention to user blogs, forums, reviews and Twitter in order to capture the 'true' public sentiment. The aim is to capture a large quantity of information that users otherwise would not consider accessing manually.  All content is filtered to ensure only the relevant text is indexed.</p>
		</div><!--/col-lg-4 -->

		<div class="col-lg-4">
			<h4><font color="#3498db">Entity & Sentiment Extraction</font></h4>
			<p align="justify">SentimentSearch processes the content using natural language processing algorithms to extract entities and calculate their sentiment. e.g. if you search for 'university of oxford', the content returned will be divided into the following categories; accommodation, campus, course, night life etc. Each category will have a list of related sentences extracted from multiple sources and the corresponding sentiment for each sentence.</p>
		</div><!--/col-lg-4 -->

		<div class="col-lg-4">
			<h4><font color="#3498db">Condensed Presentation</font></h4>
			<p align="justify">The information is presented in a condensed and efficient manner allowing users to take advantage of the quantity of information available on the Internet. Users can filter the results based on positive and negative sentiments. Users can also perform more advanced searches, e.g. searching for mobile phones with highest rated design and the lowest cost. This allows us to extract more value from the information available on the Internet. </p>
		</div><!--/col-lg-4 -->
	</div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <hr>
	<div class="row mt centered">
		<h3><font color="#3498db">We are currently in Beta.</font></h3>
    <h4>Please feel free to contact us with any comments or suggestions at <a href="mailto:contact@sentimentsearch.com">contact@sentimentsearch.com</a></h4>
	    <br>
	    <br>
  </div><!-- /row -->
</div>
</div><!-- /container -->

