<div class="container">
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
		<br>
			<!--<h3><font color="#3498db">Business To Business</font></h3>-->
		</div>
	</div><!-- /row -->

	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<img src="images/services.jpg" height="415" width="415" alt="">
      <br>
      <br>
		</div>
		<div class="col-lg-4">
			<h4><font color="#3498db">Online Content & Existing Data Sets</font></h4>
			<p align="justify">SentimentSearch can monitor multiple sources on the Internet to capture what people are saying about your product or service. We provide structured results that illustrate the sentiment of your product or service. Sources include articles, blogs, forums, reviews, Facebook and Twitter. <br><br>SentimentSearch can also process your organisation's existing data sets. e.g. consumers surveys and other forms of feedback.</p>
		</div><!--/col-lg-4 -->

		<div class="col-lg-4">
			<h4><font color="#3498db">Rest API</font></h4>
			<p align="justify">SentimentSearch can provide entity and sentiment extraction on content posted via our Rest API.</p>
		</div><!--/col-lg-4 -->
		
		<div class="col-lg-4">
			<h4><font color="#3498db">Customisation</font></h4>
			<p align="justify">SentimentSearch can provide cusomtised natural language processing algorithms and sentiment analysis algorithms based on the type of content. This ensures the results are accurate and contextually relevant.</p>
		</div><!--/col-lg-4 -->
		
	</div><!-- /row -->
	
	
</div><!-- /container -->

<div class="container">
  <hr>
	<div class="row mt centered">
		<h3><font color="#3498db">We are currently in Beta.</font></h3>
    <h4>Please feel free to contact us with any comments or suggestions at <a href="mailto:contact@sentimentsearch.com">contact@sentimentsearch.com</a></h4>
	    <br>
	    <br>
  </div><!-- /row -->
</div>
